$main: #f6c3c8;
$white: #ffffff;
$black: #1f1e1e;
$heading: #df4d5a;
$mainFont: "Aboreto", cursive;
$secondaryFont: "Rowdies", cursive;

body {
  padding: 0;
  margin: 0;
  background-color: $main;
  color: $black;

  &.no-scroll {
    overflow-y: hidden;
  }
}

//Header

.container {
  flex-grow: 1;
  margin: 0 auto;
  padding: 0 32px;
  position: relative;
  width: auto;
  height: 100%;
  color: $black;
  &.fluid {
    width: 100%;
    max-width: 100%;
    padding: 0;
  }
  @media (min-width: 1024px) {
    max-width: 960px;
  }
  @media (min-width: 1216px) {
    max-width: 1152px;
  }
  @media (min-width: 1408px) {
    max-width: 1560px;
  }

  .row {
    display: flex;
    align-items: center;
    &.space-between {
      justify-content: space-between;
    }
    &.center {
      justify-content: center;
    }
  }
}

header {
  font-family: $mainFont;
  font-size: 3.5rem;
  position: fixed;
  z-index: 99;
  width: 100%;

  font-weight: bolder;
  .container {
    .row {
      height: 128px;
      .logo {
        a {
          color: $heading;
          text-decoration: none;
        }
      }
      .menu {
        font-size: 2rem;
        color: $black;
        cursor: pointer;
        border-radius: 100%;
        border: 1px solid $black;
        height: 80px;
        width: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.3s ease-in-out;
        &:hover {
          color: $white;
          background: $black;
        }
      }
    }
  }
}
//home page

main {
  .container {
    font-family: $secondaryFont;
    font-weight: 100;

    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .col-right,
    .col-left {
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      .image-container {
        position: relative;
        overflow: hidden;

        .thumbnail {
          position: inherit;
          align-items: center;
          .frame {
            width: 100%;
            height: 100%;
            background-image: url("images/circles.png");
            background-position-x: center;
            background-position-y: center;

            img {
              width: 100%;
              height: 100%;
              transform: rotate(12deg);
              z-index: 1;
            }
          }
        }
      }
      .title {
        margin: 1rem;
        padding: 2rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        margin-top: 20px;
        text-transform: capitalize;

        h1 {
          background-color: $white;
          color: $black;
          font-style: italic;
        }
        .information {
          align-items: flex-end;
          font-weight: 100;
          font-size: 1.2rem;
          .btn {
            align-items: center;
            appearance: none;
            background-color: #fff;
            border-radius: 24px;
            border-style: none;
            box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
              rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
            box-sizing: border-box;
            color: #000000;
            cursor: pointer;
            display: inline-flex;
            fill: currentcolor;
            font-family: $mainFont;
            font-size: 1.2rem;

            height: 4rem;
            justify-content: center;
            letter-spacing: 0.25px;
            line-height: normal;
            max-width: 100%;
            overflow: visible;
            padding: 2px 24px;
            position: relative;
            text-align: center;
            text-transform: none;
            transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1),
              opacity 15ms linear 30ms,
              transform 270ms cubic-bezier(0, 0, 0.2, 1) 0ms;

            &:hover {
              background: $white;
              color: $heading;
              transform: scale(1.1);
            }

            &:active {
              box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%),
                0 8px 12px 6px rgb(60 64 67 / 15%);
              outline: none;
            }

            &:focus {
              outline: none;
              border: 2px solid $heading;
            }
          }
        }
      }
    }
  }
}

//product page

.container.fluid {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    .group {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-content: center;
      max-width: 30rem;

      p {
        align-items: baseline;
        align-content: center;
        text-align: center;
        color: $white;
        background-color: $black;
        font-family: $secondaryFont;
        font-size: 1.2rem;
      }

      img {
        max-width: 30rem;
      }
      .image-row.left,
      .image-row.right {
        transform: scale(0.8);
      }
      .image-row.center {
        padding-top: 1.4rem;
      }
    }
  }
}
